# removing pb_data from git
pb_data/
backend-app/pb_data/

# PocketBase database snapshots and WAL files
*.db
*.db-shm
*.db-wal

# removing venv from git
**/venv/

# remove env varaibles
.env
.vercel

# python fuzzy finding cache
.cache/*
